.sidebar {
  background: linear-gradient(-70deg, #426666, #98aaaa);
  bottom: 0;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  z-index: $zindex-2;

  a, span.exturl {
    // border-bottom-color: $black-light;
    color: $z-sidebar-font;

    &:hover {
      // border-bottom-color: none;
      color:$z-sidebar-font-hover;
    }
  }

  +tablet-mobile() {
    if (!hexo-config('sidebar.onmobile')) {
      display: none;
    }
  }
}

.sidebar-inner {
  color: $grey-dark;
  padding: 20px 10px;
  text-align: center;
}

.site-overview-wrap {
  overflow-x: hidden;
  overflow-y: auto;
}

.cc-license {
  margin-top: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;

  .cc-opacity {
    border-bottom: none;
    opacity: .7;

    &:hover {
      opacity: .9;
    }
    &::before {
      display: none;
    }
  }

  img {
    display: inline-block;
  }
}

@import 'sidebar-author';
@import 'sidebar-author-links';
@import 'sidebar-button';
@import 'sidebar-blogroll';
@import 'sidebar-dimmer';
@import 'sidebar-nav';
@import 'sidebar-toggle';
@import 'sidebar-lunyu';

@import 'sidebar-toc' if (hexo-config('toc.enable'));

@import 'site-state' if (hexo-config('site_state'));
