.lunyu {
  writing-mode: vertical-rl;
  color: $z-head-a;
  opacity: .8;
  margin: 20px auto;
  font-family: $z-font-min;
  font-size: 2em;
  user-select: none;
  letter-spacing: .2em;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
}