.post-tags {
  margin-top: 40px;
  text-align: center;

  a {
    display: inline-block;
    font-size: $font-size-smaller;
    padding: 0 5px;
    border-radius: 5px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
