.custom-logo {
  .site-meta-headline {
    text-align: center;
  }

  .brand {
    background: none;
  }

  .site-title {
    color: $z-head-bg;
    text-shadow: 0 1px 1px rgba(0,0,0,0.7);
    margin: 10px auto 0;

    a {
      border: 0;
    }
  }
}

.brand {
  color: $z-head-bg;
  font-size: 1.3em;
  +mobile() {
    font-size: 1.2em;
  }
  &:hover {
    color: $z-head-bg;
    background: none;
    opacity: .8 !important;
  }
  .site-title {
    text-shadow: 0 1px 1px rgba(0,0,0,0.7);
  }
}

.custom-logo-image {
  background: white;
  margin: 0 auto;
  max-width: 150px;
  padding: 5px;
}
