@font-face {
    font-family: "genkai-mincho";
    src: url("genkai-mincho.eot"); /* IE9 */
    src: url("genkai-mincho.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("genkai-mincho.woff") format("woff"), /* chrome、firefox */
    url("genkai-mincho.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("genkai-mincho.svg#genkai-mincho") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


