@font-face {
    font-family: "SoukouMincho";
    src: url("SoukouMincho.eot"); /* IE9 */
    src: url("SoukouMincho.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("SoukouMincho.woff") format("woff"), /* chrome、firefox */
    url("SoukouMincho.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("SoukouMincho.svg#SoukouMincho") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


